---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1200px; // modified
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
//margin: 1em 0 15px;
  margin: 0em 0 5px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
//  color: $gray;
}

p {
  margin: 15px 0;
}

// modified
br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 75%;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 30px;                                // space between top section and content
  @include mobile {
    margin-bottom: 10px;
  }
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}


//////////////////////////////////////////////////////////////////////////////////

.profile2-pic {
  display: block;
  float: left;
  border-radius: 10%;
  margin-bottom: 10px;
  margin-right: 25px;
  width: 20%;

  @include mobile {
    margin-bottom: 5px;
    margin-right: 15px;
    width: 40%;
  }
}


//////////////////////////////////////////////////////////////////////////////////
// TABLE OF CONTENTS (jqtoc)

#toc_container {
   font: 12px/1.6em Verdana, Arial, Helvetica, sans-serif;
   position:fixed;
   left:0;
   top:0em;
   width:17em;
   background: gray;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.toc_header {
   background: #666;
   color: #fff;
   font-weight: bold;
   cursor: pointer;
   padding-left:10px;
   padding-right:10px;
}
.toc_content {
   border: 3px solid #666;
   padding: 0 20px 5px 20px;
   display: none;
   overflow: auto;
}
.toc_content a {
   display: list-item;
   text-decoration: none;
   color: #ccc;
}
.toc_content a:hover {
   color: #fff;
}
.toc_content a.indent {
   list-style-type: circle;
}
.toc_top {
   float: right;
}
.toc_top a {
   color: purple;
}


//////////////////////////////////////////////////////////////////////////////////
// TABLE OF CONTENTS (gem-toc)

.section-nav {
  background-color: #fff;
  margin: 5px 0;
  padding: 5px 40px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  @include mobile {
    padding: 5px 20px;
  }
}

//////////////////////////////////////////////////////////////////////////////////
// POST ENTRY

.entry{
  //text-align: justify;
}


//////////////////////////////////////////////////////////////////////////////////
// TABLE /////
// https://divtable.com/table-styler/

table {
  margin: 15px 0;
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
      table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
margin-bottom: 0; }



// BLUE THEMED TABLE
/* 
table {
  border: 1px solid #FFFFFF;
  background-color: #EEEEEE;
  width: auto;
  height: auto;
  border-collapse: collapse;
  margin: 20px 0 20px 0; // table margin!
}
table td, table th {
  border: 1px solid #FFFFFF;
  padding: 10px 10px;
}
table tr:nth-child(even) {
  background: #D0E4F5;
}
table thead {
  background: #0B6FA4;
}
table thead th {
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
table tfoot {
  font-weight: bold;
  border-top: 3px solid #444444;
}
*/

//////////////////////////////////////////////////////////////////////////////////
// GITHUB CARDS /////

.repo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; // CENTER ITEMS
}

.repo-card {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin: 5px 0 5px 5px;
  margin-top: auto;
  margin-bottom: auto;
}

//////////////////////////////////////////////////////////////////////////////////
// BLOG CARDS

.card {
  width: 80%;
  margin: 0px auto;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  //box-shadow: 0px 5px 20px #555;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;

  @include mobile {
    width: 100%;
  }
}

.card-image {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-image img {
  margin-top: 1em;
  max-height: 250px;
  //width: 50%;
}

.card-body {
  text-align: justify;
  padding: 0em 1em 1em;
  box-sizing: border-box;
}

.card-date {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-title {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.card-exceprt,
{
  color: #606060;
}

//////////////////////////////////////////////////////////////////////////////////
// DETAILS BLOCK -> https://codepen.io/keithpickering/pen/PeBpwG
//////////////////////////////////////////////////////////////////////////////////

$spacing: 24px;
$plus-size: 16px;
$plus-thickness: 3px;
$speed: 300ms;
$easing: ease-in-out;
$gray-dark: #546E7A;
$gray: #CFD8DC;
$gray-light: #ECEFF1;
$primary: $blue;

/*
html, body {
  min-height: 100%;
}

html {
  overflow-y: scroll;
}
*/

.wrapper {
  //max-width: 640px;
  margin-left: auto;
  margin-right: auto;

  /*
  padding: $spacing*2;
  @include mobile {
    padding: 0;
  }
  */
}

.details-group {
  //border: 1px solid $gray;
  border-radius: 5px;
  background-color: white;
}

.details {
  overflow: hidden;
  border-bottom: 1px solid $gray; // TODO BU KALDIRILABILIR
  transition: height $speed $easing;
  
  &:last-child {
    border-bottom: 0;
  }
  
  &__summary,
  &__content {
    padding: $spacing;
  }
  
  &__summary {
    position: relative;
    list-style: none; // Hide the marker (proper method)
    padding-left: $spacing*2;
    outline: 0;
    cursor: pointer;
    font-size: 1.4rem;
    //font-family: Oswald;
    //text-transform: uppercase;
    transition: color $speed $easing;
    
    [open] > & {
      color: $primary;
    }
    
    // Hide the marker in Webkit
    &::-webkit-details-marker {
      display: none;
    }
    
    // Our replacement marker
    &:before,
    &:after {
      content: "";
      position: absolute;
    }
    
    &:before {
      left: $spacing/2 + $plus-size/2;
      top: 50%;
      height: $plus-thickness;
      margin-top: -$plus-thickness/2;
      width: $plus-size;
      background: $primary;
    }
    
    &:after {
      left: $spacing/2 + $plus-size;
      top: 50%;
      height: $plus-size;
      margin-top: -$plus-size/2;
      width: $plus-thickness;
      margin-left: -$plus-thickness/2;
      background: $primary;
      transition: all $speed $easing;
    }
    
    [open] &:after {
      opacity: 0;
      transform: translateY(25%);
    }
  }
  
  &__content {
    padding-top: 0;
    padding-bottom: 50px;
    //padding-left: $spacing*2;
  }
}


//////////////////////////////////////////////////////////////////////////////////







// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
