---
layout: default
---

<!-- https://stackoverflow.com/questions/9975810/make-iframe-automatically-adjust-height-according-to-the-contents-without-using -->
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 50 + 'px';
  }
</script>

  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="../javascripts/jquery.jqTOC.js"></script>

<article class="post">
  <center><h1>{{ page.title }}</h1></center>

  
  {% if page.toc == true %}
    <!-- ALTERNATIVELY USING jqTOC. because github doesn't support this feature
        <b>Table of Contents</b>
        {% comment %}          {% toc %}    {% endcomment %}
        <br>
    -->
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function(){
          $('#entrypoint').jqTOC();
        });
    </script>
  {% endif %}

  <div class="entry" id="entrypoint">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
  {% include mathjax.html %}
</article>

